/* @font-face {
  font-family: 'Gobold Blocky';
  src:url('../Font/gobold_blocky/Gobold Blocky Italic WebFont.woff')
} */



.App {
  background-image: url('https://i.redd.it/a5k9jzxh793z.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
  
 .navbar {
  margin-bottom: 2%;
} 

.link{
  margin-right: 50px;
}

.container {
  color:whitesmoke;
}

.card {
  color:black;
}


.loginbtn {
  margin-left: 2%;
}

.btn a{
  color: white;
}

.chatContainer{
  font: 13px Helvetica, Arial;
}

.form{
  background: #000; 
  margin-bottom: 5%;
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 80%;
}

#messages {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
      
#messages li:nth-child(odd) { 
  background: #eee; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 
