@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top:15px;
    color:black;
}



#homeLogin{
    padding:inherit;
    width: min-content;
    position: fixed; /* or absolute */
    /* top: 50%;
    left: 50%; 
    margin-top: -50px;
    margin-left: -100px; */
    border: 500px;
    width: 400px;
    background-color: antiquewhite;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    }


#loginSubmit{
    display: inline-block;
    margin: 15px;
    outline-style: inherit;
    height:auto;
    text-align: center;
    outline-style:auto;
    background-color:gray;
    animation:submitbtn-anim1
    1s linear infinite;
    animation-delay: .75s;

}




#loginSubmit:active{
    background:red;
}


#loginSubmit:focus{
    background: red;
}

@keyframes submitbtn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  


#loginRedirect{
    text-align: center;
    margin:20px 20px 40px 0px;
    color: red;
    position: absolute;
}


